<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-card">
                <img src="../../../../assets/Login.jpg">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-4">
                    <form>
                        <span class="logo">Logo</span>
                        <p>Welcome back! Please login to continue</p>
                        <span>User Login</span>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username or email"
                                        required="" />
                                    <!-- <ng-container *ngFor="let item of itemdetails;">{{item.ItemCode}}</ng-container> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required="" />
                                    <!-- <ng-container *ngFor="let item of itemdetails;">{{item.ItemCode}}</ng-container> -->
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row">
                                <!-- <div class="col-sm-6">
                                    <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                                </div> -->
                                <div class="col-sm-6">
                                    <div class="form-group form-check">
                                        <p>Forgot Password?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="wrapper">
                                    <button type="submit" class="btn btn-primary custom-input">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>