.form-control {
  font-family: "Louis George Cafe";
  font-weight: "regular";
  font-size: 18px;
  width: 381px;
  height: 38px;
  color: #ffffff;
  border-color: #72c7d9;
  margin-bottom: 35px;
}

.form-card {
  width: 961px;
  height: 465px;
}
.p {
  font-family: "Louis George Cafe";
  font-weight: "bold";
  font-size: 13px;
}
