.form-control {
  font-family: "Louis George Cafe";
  font-weight: "regular";
  font-size: 15px;
  width: 349px;
  height: 38px;

  border-color: #72c7d9;
  margin-bottom: 35px;
}

.login {
  width: 417px;
  height: 345px;
  margin-top: 145px;
  margin-left: 108px;
}

.logo {
  text-align: center;
  width: 68px;
  height: 44px;
  margin-left: 141px;
}

.content {
  text-align: center;
  font-family: "Louis George Cafe";
  font-weight: "regular";
  font-size: 15px;
}
.p {
  font-family: "Louis George Cafe";
  font-weight: "bold";
  font-size: 13px;
}

.required {
  color: #3383fc;
}
.vijay {
  display: flex;
}

.check {
  display: flex;
}
.input-form {
  width: 418px;
  height: 349px;
  margin-top: 117px;
  margin-left: -189px;
}

.button {
  margin-right: -2px;
}
