<div class="container">
    <div class="row vijay" >
        <div class="col-lg-6">
            <mat-card class="login">
                <img src="../../../../assets/Login.jpg">
            </mat-card>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-4">
                    <mat-card class="input-form">
                        <form> 
                            <mat-card class="logo">
                                Logo
                            </mat-card>
                            <span class="logo content">Logo</span>
                            <p class="content">Welcome back! Please login to continue <br>
                               <span class="required">User Login</span>
                            </p>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username or email" >
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row check">
                                    <div class="col-sm-6">
                                     <p>Remember me</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-check">
                                            <p>Forgot Password? <br>
                                            <button  class="button" mdbBtn color="primary" mdbWavesEffect >Sign in</button> </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                 
                        </form>
                    </mat-card>
                    
                </div>
            </div>
        </div>
    </div>
</div>


